#landing-container {
    height: 100vh;
    overflow: hidden;
    background: rgba(25,5,40,1);
    background: -moz-linear-gradient(top, rgba(25,5,40,1) 0%, rgba(25,5,40,1) 19%, rgba(11,3,43,1) 76%, rgba(4,9,46,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,5,40,1)), color-stop(19%, rgba(25,5,40,1)), color-stop(76%, rgba(11,3,43,1)), color-stop(100%, rgba(4,9,46,1)));
    background: -webkit-linear-gradient(top, rgba(25,5,40,1) 0%, rgba(25,5,40,1) 19%, rgba(11,3,43,1) 76%, rgba(4,9,46,1) 100%);
    background: -o-linear-gradient(top, rgba(25,5,40,1) 0%, rgba(25,5,40,1) 19%, rgba(11,3,43,1) 76%, rgba(4,9,46,1) 100%);
    background: -ms-linear-gradient(top, rgba(25,5,40,1) 0%, rgba(25,5,40,1) 19%, rgba(11,3,43,1) 76%, rgba(4,9,46,1) 100%);
    background: linear-gradient(to bottom, rgba(25,5,40,1) 0%, rgba(25,5,40,1) 19%, rgba(11,3,43,1) 76%, rgba(4,9,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190528', endColorstr='#04092e', GradientType=0 );
}

body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #F6F4F8 !important;
}

.landing-main-absolute {
  z-index: 5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding-right: 15px;
}

#brain-photo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 12px;
  width: 100vw;
  text-align: center;
  opacity: 0.8;
}

#brain-photo img {
  width: 80vw;
  max-width: 900px;
  height: auto;
}

.bottom-color-band {
    position: absolute;
    width: 100vw;
    height: 12px;
    bottom: 0;
    left: 0;
}

.content-p {
    font-size: 18px;
}

.chromatic {
  color: transparent;
  -webkit-transition: text-shadow 2s ease;
  transition: text-shadow 2s ease;
}
.chromatic:nth-of-type(1), .chromatic:nth-of-type(5) {
  text-shadow: 0 0 2px white, 0 0 1px white, 0.03em 0 0.06em rgba(255, 0, 0, 0.9), -0.03em 0 0.06em rgba(0, 255, 255, 0.9);
}
.chromatic:nth-of-type(2), .chromatic:nth-of-type(4) {
  text-shadow: 0 0 2px white, 0 0 1px white, 0.018em 0 0.036em rgba(255, 0, 0, 0.9), -0.018em 0 0.036em rgba(0, 255, 255, 0.9);
}
.chromatic:nth-of-type(3) {
  text-shadow: 0 0 2px white, 0 0 1px white, 0.003em 0 0.006em rgba(255, 0, 0, 0.9), -0.003em 0 0.006em rgba(0, 255, 255, 0.9);
}