body {
    background-color: #EEEEEE !important;
}

path {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: white;
}

#overview-card {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.map-container {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0 0 5px 0px;
}

#map svg {
    padding: 5px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.state-overview-card {
    width: 90% !important;
    margin-top: 60px !important;
    margin-bottom: 40px;
}

@media (max-width:1200px){
}

@media (max-width:992px){
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

#filter-content table {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    table-layout: fixed;
}

#filter-content table td{
    width: 33.3%;
}